* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0px;
    padding: 0px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    overflow: hidden;
}

.container {
    display: flex;
    justify-content: start;
}

.container .nav-conatiner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-image: linear-gradient(180deg, #D9CCA9, #2A282D);
    max-width: 200px;
    height: 100vh;
}

ul {
    list-style-type: none;
}

.nav-conatiner {
    ul {
        padding: 25px 35px 25px 35px;
         li {
                padding: 10px 0px;
                a {
                    text-decoration: none;
                    color: aliceblue !important;
                    font-size: 16px;
                    font-weight: 400;
                }
            }
    }

    .main-nav {
        margin: 20px;

        img {
            width: 100%;
        }
    }
    .footer-nav{
        margin: 20px;
    }
}


.main-container {
    background-color: green;
    flex-grow: 10;
}